#glean {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: black;
  position: fixed;
  text-align: left;
  top: 0px;
  right: -200px;
  z-index: 2000002;
  width: 250px;
  height: 100%;
  background-color: #ff8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#glean-title {
  float: left;
  display: inline;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
}

#glean-slogan {
  float: right;
  float: bottom;
  display: inline;
  opacity: 0.33;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
}


#glean-slogan a {
  color: #000;
  text-decoration: none;
}



#glean-instructions {
  clear: both;
  font-weight: normal;
  color: #f80;
  padding-bottom: 10px;
}

#glean textarea {
  width: 245px;
  margin-bottom: 10px;
}


#glean-regex {
  height: 32%;
  background-color: #fff;
}

#glean-html {
  height: 32%;
  background-color: #ffc;
}

#glean-matching-groups {
  height: 45px;
  width: 245px;
}

#glean-footer {
  position: absolute;
  bottom: 20px;
  padding: 0px;
  margin: 0px;
  width: 245px;
}
/*
#glean-thoreau {
font-size: 12px;
font-style: italic;
font-family: Helvetica, Arial, sans-serif;
opacity: 0.33;
padding-top: 5px;
display: none;
}
*/
#glean-buttons {
  padding-bottom: 10px;
}

#glean button {
  display: inline;
  margin: 0 7px 0 0;
  background-color: #fd0;
  border: 1px solid #aaa;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
  font-weight: normal;
  color: #444;
  cursor: pointer;
  padding: 4px 10px 5px 10px; /* Links */

  width:auto;
  overflow: visible;
}


#glean button[type=submit] {
  font-weight: bold;
  color: #000;
}

#glean a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

#glean a:hover {
  text-decoration: underline;
}

#glean-heading {
  clear: both;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.5;
}

#glean-saved {
  padding-top: 10px;
  font-weight: bold;
  opacity: 0.5;
}

#glean hr {
  border: 0px;
  opacity: 0.15;
  background-color: #000;
  height: 1px;
  width: auto;
}



