#lamprey {
  position: absolute;
  top: 0px;
  right: -200px;
  z-index: 1000;
  width: 250px;
  height: 100%;
  background-color: yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#lamprey h1 {
  float: left;
  font-size: 16px;
  padding-bottom: 5px;
}

#lamprey h2 {
  float: right;
  opacity: 0.33;
  font-size: 16px;
  padding-bottom: 5px;
}

#lamprey textarea {
  width: 100%;
  height: 25%;
  margin-bottom: 10px;
}

#lamprey-thoreau {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 0.33;
}

